
    <div class="sidebar" id="sidebar">
        <div class="avatar-section">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 100px;" alt="logo">
        </div>
        <ul>
            <li><a href="/View/index.html"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
            
            <!-- <li><a href="#"><i class="fa-solid fa-user"></i><span>ONGs</span></a></li> -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa-solid fa-hands-holding-circle"></i>
                    
                    <span>ONG</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                        <a class="collapse-item" href="/View/listaDoadores.html">Doações</a>
                        <a class="collapse-item" href="/View/acompanhaDoacoesOng.html">Acompanhar doações</a>
                    </div>
                </div>
            </li>
            <!-- <li><a href="#"><i class="fa-solid fa-envelope"></i><span>Messages</span></a></li> -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <i class="fa-solid fa-hand-holding-heart"></i>
                    <span>Doadores</span>
                </a>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                        <a class="collapse-item" href="/View/cadastroDoacoes.html">Cadastro de doações</a>
                        <a class="collapse-item" href="/View/acompanharDoacoes.html">Acompanhar doações</a>
                        <!-- <a class="collapse-item" href="cards.html">Cards</a> -->
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa-solid fa-truck"></i>
                    <span>Transportadores</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                        <a class="collapse-item" href="/View/cadastroRotas.html">Cadastro de rotas</a>
                        <a class="collapse-item" href="/View/entregas.html">Entregas disponíveis</a>
                        <a class="collapse-item" href="/View/acompanhamentoEntregas.html">Acompanhamento entregas</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="topbar">
            <button id="toggleSidebar" class="btn btn-link text-black">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img class="img-profile rounded-circle" src="/assets/usuario_teste.jpg" alt="User" style="height: 40px; width:40px ;"> -->
                        ABCD Nossa Casa
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/View/perfil.html">Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/View/login.html">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/index.js"></script> -->
    

