<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acompanhar doações - Rede solidária</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/dataTables.dataTables.css">
  <link rel="stylesheet" href="/public/css/header.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="bg-light">

  <div id="header"></div>

  <!-- Spinner (loader) -->
  <div id="loader">
    <div class="row justify-content-center align-items-center mt-3 text-center">
      <div class="col-md-12">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Carregando...</span>
        </div>
        <p>Carregando doações...</p>
      </div>
    </div>
  </div>

  <div class="container main-content d-flex justify-content-center align-items-center mt-3">
    <div class="card border-light mb-3 w-100 shadow-custom">
      <div class="card-header card-header-gradient text-center">Inventário de doações</div>
      <div class="card-body">
        <table class="table table-bordered hover" id="tabela_acompanhar_doacoes">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Quantidade</th>
              <th>Medida</th>
              <th>Descrição</th>
              <th>Data do registro</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody id="tabela_acompanhar_doacoes_body">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal_acompanhar_doacoes" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content rounded-3 shadow">
        <div class="modal-header modal-header-custom">
          <h5 class="modal-title" id="modalLabel">Editar doação</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="id_doacao" readonly>
          <div class="row">
            <div class="col-md-12">
              <label>Tipo:</label>
              <input class="form-control" type="text" id="tipo_doacao" readonly>
            </div>
            <div class="col-md-6 mt-2">
              <label>Quantidade:</label>
              <input class="form-control" type="text" id="quantidade_doacao" readonly>
            </div>
            <div class="col-md-6 mt-2">
              <label>Medida:</label>
              <input class="form-control" type="text" id="medida_doacao" readonly>
            </div>
            <div class="col-md-12 mt-2">
              <label>Descrição:</label>
              <input class="form-control" type="text" id="descricao_doacao" readonly>
            </div>
            <div class="col-md-12 mt-2">
              <label>Data de registro:</label>
              <input class="form-control" type="text" id="data_registro_doacao" readonly>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button class="btn btn-editar">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/dataTables.js"></script>
  <script src="/public/js/header.js"></script>
  <script src="/public/js/acompanharDoacaoes.js"></script>

</body>

</html>
