<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de rotas - Rede solidária</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.3.1/ol.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body style="background-color: #eee">
    
    <div id="header"></div>

    <div class="container main-content d-flex justify-content-center align-items-center mt-3">
        <div class="card border-light mb-3 w-75" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="card-header card-header-gradient" style="text-align: center;">Cadastro de rotas</div>
            <div class="card-body">
                <div class="row">
                    <!-- Coluna Esquerda: Campos e Botão -->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="origin" class="form-label">Origem:</label>
                            <input class="form-control" type="text" id="enderecoOrigem" name="enderecoOrigem" placeholder="Ex: Av. Paulista, São Paulo">
                        </div>
                        <div class="mb-3">
                            <label for="destination" class="form-label">Destino:</label>
                            <input class="form-control" type="text" id="enderecoDestino" name="enderecoDestino" placeholder="Ex: Praça da Sé, São Paulo">
                        </div>
                        <div class="mb-3">
                            <label for="destination" class="form-label">Data:</label>
                            <input class="form-control" type="date" id="enderecoDestino" name="enderecoDestino" placeholder="Ex: Praça da Sé, São Paulo">
                        </div>
                        <div style="text-align: right;">
                            
                            <button id="btn_salvar_rota" class="btn" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);color: #fff;">Gravar rota</button>
                        </div>
                        
                    </div>
            
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.3.1/dist/ol.js"></script>
    <script src="/public/js/header.js"></script>
    <script src="/public/js/cadastroRotas.js"></script>
    
   
</body>
</html>
